<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="ServiceLayerBaseUrl" value="https://vgmservicelayer.sapb1mm.com:50000/b1s/v1"/>
		<add key="SAPUsername" value="manager"/>
		<add key="SAPPassword" value="12345"/>
		<add key="SAPCompanyDB" value="DEV_SBODEMOGB"/>
	</appSettings>
</configuration>
